:root {
  --bg-light: oklch(0.99 0 0);
  --border-color: oklch(0.95 0 0);
  --shadow-color: oklch(0.8 0 0 / 0.6);
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}