.card {
  background: var(--bg-light);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 2px 2px var(--shadow-color);
  break-inside: avoid-column;
  margin-bottom: 1rem;
  max-height: 400px;
  overflow: hidden;
  padding: 0.5rem;
  width: 100%;

  button {
    margin-block-end: 0.5rem;
    padding: 0.25rem 0.5rem;
  }
}

.image {
  object-fit: cover;
  width: 100%;
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}