.header {
  padding: 1rem;
  text-align: center;

  .links {
    margin-block: 1rem;
  }

  p {
    margin-block-start: 1rem;
  }

  form {
    display: inline-flex;
    gap: 0.5rem;
  }

  input {
    border: 1px solid black;
    border-radius: 100dvw;
    padding: 0.5rem 1rem;
  }
}